.videos-page-main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 60px;
  min-height: calc(100vh - 20px);
  width: 100%;
}

.middle-part-videos-page-main-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 310px));
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
  gap: 25px;
  padding-bottom: 60px;
}

@media (max-width: 992px) {
  .middle-part-videos-page-main-container {
    flex-direction: column;
  }
}

.video-holder-main-container {
  position: relative;
  width: 310px;
  height: 180px;
}

.video-holder-main-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.vieo-part-inner-video-holder {
  width: 240px;
  height: 135px;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color: rgb(90, 90, 90);
  z-index: 1;
  border-radius: 7px;
  overflow: hidden;
}

.vieo-status-part-inner-video-holder {
  width: 80%;
  height: 80%;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #252525;
  border: 2px solid var(--secondary-color);
  color: white;
  border-radius: 10px;
}

.right-part-container-video-status-inner {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px 0px 0px;
  justify-content: center;
  align-content: center;
  transition: 0.2s;
}

.right-part-inner-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-part-inner-inner-container div {
  width: fit-content;
  color: var(--secondary-color);
}

.right-part-inner-count {
  color: white !important;
  font-weight: bold;
}

.bottom-part-subscribers-main-container {
  position: absolute;
  bottom: 0;
  left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 7px;
  gap: 10px;
  color: var(--secondary-color);
  transition: 0.2s;
}

.image-thumnail {
  width: 100%;
  height: 100%;
}

.image-thumnail img {
  width: 100%;
}

.page-title {
    font-size: 63px;
    font-weight: bold;
    color: var(--secondary-color);
    text-align: center;
}