:root {
  --main-background-color: #1c1b22;
  --secondary-color: #01fe9d;
  --third-color: #3aeaba;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

* {
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
  font-size: 16px;
}

body {
  background-color: var(--main-background-color);
  min-height: 100vh;
  overflow-X: hidden;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 10px;
  padding-top: 20px;
}

/* Small screens */
@media (max-width: 576px) {
  .container {
    width: calc(100% - 20px);
  }
}

/* Medium screens */
@media (min-width: 577px) {
  .container {
    width: 540px;
  }
}

/* Large screens */
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}

/* Extra-large screens */
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.page-transition-main-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  z-index: 4;
  height: 100vh;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  align-items: end;
  pointer-events: none;
}

.page-trans-inner-baby {
  background-color: white;
  height: 100%;
  transition: .3s;
}

.subscribers-count {
  font-weight: bold;
  color: white !important;
}

.contact-me {
  font-weight: bold;
  background-color: #01fe9d12;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  transition: 0.2s;
  z-index: 2;
}

.contact-me:hover {
  color: black;
  background-color: var(--secondary-color);
  transition: 0s;
}